@model DiplomaGroomingSalon.Domain.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "CreateAppointment";
}

<h1>CreateAppointment</h1>

<h4>AppointmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateAppointment" class="control-label"></label>
                <input asp-for="DateAppointment" class="form-control" />
                <span asp-validation-for="DateAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeAppointment" class="control-label"></label>
                <input asp-for="TimeAppointment" class="form-control" />
                <span asp-validation-for="TimeAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAppointments">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
