@model DiplomaGroomingSalon.Domain.ViewModels.BreedPetViewModel

@{
    ViewData["Title"] = "CreateBreedPet";
}

<h1>CreateBreedPet</h1>

<h4>BreedPetViewModel</h4>
<p>
	<a asp-action="CreateTypePet">Create New TypePet</a>
</p>
<p>
	<a asp-action="CreateBreedPet">Create New BreedPet</a>
</p>
<p>
	<a asp-action="CreateServiceType">Create New ServiceType</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBreedPet">
	        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <div class="form-group">
		        <label>TypePet</label> 
		        @Html.DropDownListFor(m => m.TypePetId, ViewBag.TypePet as IEnumerable<SelectListItem>, "Select TypePet", new {@class = "form-control"})
	        </div>
            <div class="form-group">
                <label asp-for="breedPetName" class="control-label"></label>
                <input asp-for="breedPetName" class="form-control" />
                <span asp-validation-for="breedPetName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetBreedPets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
