@model DiplomaGroomingSalon.Domain.Entities.ServiceType

@{
    ViewData["Title"] = "EditServiceType";
}

<h1>EditServiceType</h1>

<h4>ServiceTypeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditServiceType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <div class="form-group">
		        <label asp-for="Id" class="control-label" hidden="text"></label>
		        <input asp-for="Id" class="form-control" hidden="text" />
		        <span asp-validation-for="Id" class="text-danger" hidden="text"></span>
	        </div>
	        <div class="form-group">
		        <label asp-for="Breed.PetType.PetTypeName" class="control-label"></label>
                <input class="form-control" type="text" asp-for="Breed.PetType.PetTypeName" readonly>
	        </div>
	        <div class="form-group">
		        <label asp-for="Breed.BreedName" class="control-label"></label>
		        <input class="form-control" type="text" asp-for="Breed.BreedName" readonly>
	        </div>
            <div class="form-group">
                <label asp-for="ServiceTypeName" class="control-label"></label>
                <input asp-for="ServiceTypeName" class="form-control" />
                <span asp-validation-for="ServiceTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedId" class="control-label" hidden="text"> </label>
                <input asp-for="BreedId" class="form-control" hidden="text" />
                <span asp-validation-for="BreedId" class="text-danger" hidden="text"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetTypeId" class="control-label" hidden="text"></label>
                <input asp-for="PetTypeId" class="form-control" hidden="text" />
                <span asp-validation-for="PetTypeId" class="text-danger" hidden="text"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetServiceTypes">Back to List</a>
</div>

