@model DiplomaGroomingSalon.Domain.ViewModels.PetTypeViewModel

@{
    ViewData["Title"] = "CreatePetType";
}

<h1>CreatePetType</h1>

<h4>PetTypeViewModel</h4>
<p>
    <a asp-action="CreatePetType">Create New PetType</a>
</p>
<p>
    <a asp-controller="Breed" asp-action="CreateBreed">Create New Breed</a>
</p>
<p>
    <a asp-controller="ServiceType" asp-action="CreateServiceType">Create New ServiceType</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePetType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="typePetName" class="control-label"></label>
                <input asp-for="typePetName" class="form-control" />
                <span asp-validation-for="typePetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetPetTypes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
