@model DiplomaGroomingSalon.Domain.Entities.PetType

@{
    ViewData["Title"] = "EditTypePet";
}

<h1>EditPetType</h1>

<h4>PetTypeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTypePet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden="text"></label>
                <input asp-for="Id" class="form-control" hidden="text" />
                <span asp-validation-for="Id" class="text-danger" hidden="text"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetTypeName" class="control-label"></label>
                <input asp-for="PetTypeName" class="form-control" />
                <span asp-validation-for="PetTypeName" class="text-danger"></span>
            </div>
	        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetPetTypes">Back to List</a>
</div>

