@using System.Security.Cryptography.X509Certificates
@model DiplomaGroomingSalon.Domain.Entities.Breed

@{
    ViewData["Title"] = "EditBreed";
}

<h1>EditBreed</h1>

<h4>BreedViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBreed">
	        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <div class="form-group">
		        <label asp-for="PetType.PetTypeName" class="control-label"></label>
                <input class="form-control" type="text" asp-for="PetType.PetTypeName" readonly>
	        </div>
	        <div class="form-group">
                <label asp-for="Id" class="control-label"hidden="text"></label>
                <input asp-for="Id" class="form-control" hidden="text" />
                <span asp-validation-for="Id" class="text-danger"hidden="text"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedName" class="control-label"></label>
                <input asp-for="BreedName" class="form-control" />
                <span asp-validation-for="BreedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetTypeId" class="control-label" hidden="text"></label>
                <input asp-for="PetTypeId" class="form-control" hidden="text" />
                <span asp-validation-for="PetTypeId" class="text-danger"hidden="text"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetBreed">Back to List</a>
</div>

