@using NuGet.Protocol
@using DiplomaGroomingSalon.Domain.Entities
@using DiplomaGroomingSalon.Domain.ViewModels
@using Microsoft.EntityFrameworkCore
@model DiplomaGroomingSalon.Domain.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>CreateOrder</h1>

<h4>OrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-10 offset-1">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <div class="form-group">
		        @Html.DropDownListFor(m => m.AppointmentId, ViewBag.DateTimeAppointment as IEnumerable<SelectListItem>, "Select Appointment",new {@class="form-control"})
	        </div>
	        <div class="form-group">
		        <label> Type Pet</label>
		        @Html.DropDownListFor(m => m.TypePetId, ViewBag.TypePetBPOrder as IEnumerable<SelectListItem>, "--Select Type Pet--", new {@class = "form-control"})
	        </div>
	        <div class="form-group">
		       
		        <label asp-for="NamePet" class="control-label"></label>
		        <input asp-for="NamePet" required class="form-control"/>
		        <span asp-validation-for="NamePet" class="text-danger"></span>
	        </div>
			<div class="form-group">
		        <label asp-for="BreedPetId" class="control-label">Breed</label>
				<select asp-for="BreedPetId" required class="form-control">
					<option value="">--Select Breed Pet--</option>
				</select>
			</div>
	        <div class="mb-2">
				<label asp-for="ServiceTypeId" class="control-label">Service Type</label>
		        <select asp-for="ServiceTypeId" required class="form-control">
			        <option value="">--Select Service Type--</option>
		        </select>
	        </div>
	        <div class="mb-2">
				<label asp-for="Price" class="control-label"></label>
		        <select disabled asp-for="Price" style="appearance: none;" class="form-control">
			        <option value="">--Price--</option>
		        </select>
		       
				<select readonly asp-for="Price" required style="appearance: none;" class="form-control" hidden="text">
		        </select>
		        <span asp-validation-for="Price" class="text-danger"></span>
		        
	        </div>

	        <div class="form-group">
		        <input type="submit" value="Create" class="btn btn-primary"/>
	        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/cascadingjavascript.js"></script>

	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
